.header{
	&__description{
		color: white !important;
		margin-top: 40px !important;
		text-shadow: 3px 4px 7px rgba(0, 0, 0, 0.8);
	}
	&__social{
		margin-top: 40px !important;
	}
}

.forceFontColor-grey{
	color: #e0e0e0 !important;
}